<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Layout</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	href="../../css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<!-- This button section will show up as 3 bars when the browser size shrinks -->
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{/}" href="../">XPACS</a>
			</div>

			<div id="navbar" class="navbar-collapse collapse">
			
				<ul class="nav navbar-nav">
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">User <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/user/manage_patients}" href="../user/manage_patients">Manage patients</a></li>
							<li><a href="#">Patient summary</a></li>
							<li><a href="#">Add new history form</a></li>
						</ul></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Admin <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Manage users</a></li>
						</ul></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Table <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/user/show_patient_info}" href="../user/show_patient_info">PATIENT_INFO</a></li>
							<li><a th:href="@{/user/show_patient_history}" href="../user/show_patient_history">PATIENT_HISTORY</a></li>
							<li><a th:href="@{/admin/show_user}" href="../admin/show_user">USER</a></li>
						</ul></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Login</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>
	<div class="container" layout:fragment="main_content"></div>

	<!-- Put this script on the bottom to make loading faster -->
	<!-- IMPORTANT: JQUERY must be loaded before BOOTSTRAP. Otherwise it won't work!! -->
	<script th:src="@{/js/jquery-1.12.4.min.js}"
		src="../../js/jquery-1.12.4.min.js"></script>
	<script th:src="@{/js/bootstrap.min.js}"
		src="../../js/bootstrap.min.js"></script>
</body>
</html>
