
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAuxFileLabel">Create or edit a Aux File</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.auxFile.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.auxFile.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_creationDate">Creation Date</label>
                <div class="input-group">
                    <input id="field_creationDate" type="text" class="form-control" name="creationDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.auxFile.creationDate" is-open="vm.datePickerOpenStatus.creationDate"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('creationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.creationDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.creationDate.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.auxFile.description"
                    />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setFile($file, vm.auxFile)">
            <label class="control-label" for="field_file">File</label>
            <div>
                <div ng-if="vm.auxFile.file" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.auxFile.fileContentType, vm.auxFile.file)">open</a><br>
                    <span class="pull-left">{{vm.auxFile.fileContentType}}, {{vm.byteSize(vm.auxFile.file)}}</span>
                    <button type="button" ng-click="vm.auxFile.file=null;vm.auxFile.fileContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setFile($file, vm.auxFile)">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="file" id="field_file"
                    ng-model="vm.auxFile.file"
                    required/>
            <input type="hidden" class="form-control" name="fileContentType" id="field_fileContentType"
                    ng-model="vm.auxFile.fileContentType" />
            <div ng-show="editForm.file.$invalid">
                <p class="help-block"
                    ng-show="editForm.file.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_patientInfoFK">Patient Info FK</label>
            <select class="form-control" id="field_patientInfoFK" name="patientInfoFK" ng-model="vm.auxFile.patientInfoFK" ng-options="patientInfo as patientInfo.patientId for patientInfo in vm.patientinfos track by patientInfo.id" required>
            </select>
        </div>
        <div ng-show="editForm.patientInfoFK.$invalid">
            <p class="help-block"
                ng-show="editForm.patientInfoFK.$error.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
