<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/simple_content}">
<head>
<title>XPACS:AUX_FILE table</title>
</head>
<body>	
	<h1 layout:fragment="title">AUX FILE</h1>
	
	<div layout:fragment="text" class="container">
	
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<td>PatientID</td>
					<td>Created</td>
					<td>Filename</td>
					<td>URI</td>
					<td>Description</td>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${files.empty}">
					<td colspan="5"><i>Empty</i></td>
				</tr>
				
				<tr th:each="f : ${files}">
					<td th:text=${f.getPatientId()}>ID</td>
					<td th:text=${f.created_date}>1999-10-01</td>
					<td th:text=${f.filename}>file</td>
					<td th:text=${f.uri}>uri</td>
					<td th:text=${f.description}>description</td>
				</tr>
			</tbody>
		</table>
	
	</div>
</body>
</html>