<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/simple_content}">
<head>
<title>XPACS:BASELINE_DIAGNOSIS table</title>
</head>
<body>	
	<h1 layout:fragment="title">BASELINE DIAGNOSIS</h1>
	
	<div layout:fragment="text" class="container">
	
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<td>PatientID</td>
					<td>Date</td>
					<td>Age</td>
					<td>SBP</td>
					<td>DBP</td>
					<td>Heart rate</td>
					<td>Weight</td>
					<td>Height</td>
					<td>Hypertension</td>
					<td>Alcohol</td>
					<td>Diabetes</td>
					<td>Smoking</td>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${diags.empty}">
					<td colspan="12"><i>Empty</i></td>
				</tr>
				
				<tr th:each="d : ${diags}">
					<td th:text=${d.getPatientId()}>ID</td>
					<td th:text=${d.diagnosis_date}>1999-10-01</td>
					<td th:text=${d.age}>NA</td>
					<td th:text=${d.sbp}>NA</td>
					<td th:text=${d.dbp}>NA</td>
					<td th:text=${d.heart_rate}>NA</td>
					<td th:text=${d.weight}>NA</td>
					<td th:text=${d.height}>NA</td>
					<td th:text=${d.hypertension}>NA</td>
					<td th:text=${d.alcohol}>NA</td>
					<td th:text=${d.diabetes}>NA</td>
					<td th:text=${d.smoking}>NA</td>
				</tr>
			</tbody>
		</table>
	
	</div>
</body>
</html>