<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/simple_content}">
<head>
<title>XPACS:PATIENT_HISTORY table</title>
</head>
<body>	
	<h1 layout:fragment="title">PATIENT HISTORY</h1>
	
	<div layout:fragment="text" class="container">
	
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<td>PACS_Patient_Id</td>
					<td>PACS_Study_Iuid</td>
					<td>EventDate</td>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${pathists.empty}">
					<td colspan="3"><i>Empty</i></td>
				</tr>
				
				<tr th:each="pathist : ${pathists}">
					<td th:text=${pathist.pathistname}>someone</td>
					<td th:text=${pathist.password}>!!!!</td>
					<td th:text=${pathist.role}>NOROLE</td>
					<td th:text=${pathist.enabled}>ENABLED</td>
				</tr>
			</tbody>
		</table>
	
	</div>
</body>
</html>