<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/simple_content}">
<head>
<title>XPACS:Patient list</title>
</head>
<body>	
	<h1 layout:fragment="title">Manage patients</h1>
	
	<div layout:fragment="text" class="container">

		<div class="row">
			<div class="col-md-4 list-group">
				<a th:each="patient : ${patients}" href="#" class="list-group-item">
					<span th:text="${patient.PACS_Patient_Id}">PAT0000</span>
				</a>
			</div>
			<div class="col-md-8">
				<p>PAT000</p>
				<p>Gender:</p>
				<p>Cohort:</p>
				<p>Ethnicity:</p>
				<p>Primary diagnosis:</p>
				<p>the diagnosis</p>
			</div>
		</div>

	
	</div>
</body>
</html>