<form name="downloadForm" role="form" novalidate ng-submit="vm.download()" show-validation>

	<div class="modal-header">
		<h5>Downloading {{vm.studyUid}}</h5>
		<div class="progressbar" id="progressbar"></div>
	</div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.cancel()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="vm.isPreparing" class="btn btn-primary" ng-click="vm.download()">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Download</span>
        </button>
    </div>

</form>