<div class="table-responsive">
	<h2>Image Studies</h2>
	<jhi-alert-error></jhi-alert-error>
    <p class="lead">Filtered {{ filtered.length }} from {{ vm.studies.length }} patients.</p>

    <span>Filter</span> <input type="text" ng-model="filter" class="form-control">
    <div class="table-responsive">
    <table class="jh-table table table-condensed table-striped table-bordered">
    		<thead>
        <tr title="click to order">
            <th ng-click="predicate = 'patientId'; reverse=!reverse"><span>Patient ID</span></th>
            <th ng-click="predicate = 'studyIuid'; reverse=!reverse"><span>Study Instance UID</span></th>
            <th ng-click="predicate = 'studyDate'; reverse=!reverse"><span>Study Date</span></th>
            <th ng-click="predicate = 'studyDesc'; reverse=!reverse"><span>Study Description</span></th>
        </tr>
    		</thead>

        <tr ng-repeat="std in filtered = (vm.studies  | filter:filter | orderBy:predicate:reverse)">
            <td><small>{{std.patientId | characters:20}}</small></td>
            <td><small>{{std.studyIuid}}</small></td>
            <td><small>{{std.studyDate}}</small></td>
            <td><small>{{std.studyDesc}}</small></td>
            <td class="text-right">
            		<div ng-if="std.studyIuid" class="btn-group flex-btn-group-container">
                		<button type="submit"
                    			ui-sref="patient-info-detail({id:patientInfo.id})"
                             class="btn btn-primary btn-sm">
                     	<span class="glyphicon glyphicon-save"></span>
                         <span class="hidden-sm-down"></span>
					</button>
            		</div>
            </td>
        </tr>
    </table>
    </div>
 
</div>
