<div>
    <h2>DICOMS</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="dicom.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new DICOM
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dicomFile"><span>Dicom File</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="image"><span>Image</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="dICOM in vm.dICOMS track by dICOM.id">
                    <td><a ui-sref="dicom-detail({id:dICOM.id})">{{dICOM.id}}</a></td>
                    <td>
                        <a ng-if="dICOM.dicomFile" ng-click="vm.openFile(dICOM.dicomFileContentType, dICOM.dicomFile)">open</a>
                        <span ng-if="dICOM.dicomFile">{{dICOM.dicomFileContentType}}, {{vm.byteSize(dICOM.dicomFile)}}</span>
                    </td>
                    <td>
                        <a ng-if="dICOM.image" ng-click="vm.openFile(dICOM.imageContentType, dICOM.image)">
                            <img data-ng-src="{{'data:' + dICOM.imageContentType + ';base64,' + dICOM.image}}" style="max-height: 30px;" alt="dICOM image"/>
                        </a>
                        <span ng-if="dICOM.image">{{dICOM.imageContentType}}, {{vm.byteSize(dICOM.image)}}</span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="dicom-detail({id:dICOM.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="dicom.edit({id:dICOM.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="dicom.delete({id:dICOM.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
