
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDICOMLabel">Create or edit a DICOM</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.dICOM.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.dICOM.id" readonly />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setDicomFile($file, vm.dICOM)">
            <label class="control-label" for="field_dicomFile">Dicom File</label>
            <div>
                <div ng-if="vm.dICOM.dicomFile" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.dICOM.dicomFileContentType, vm.dICOM.dicomFile)">open</a><br>
                    <span class="pull-left">{{vm.dICOM.dicomFileContentType}}, {{vm.byteSize(vm.dICOM.dicomFile)}}</span>
                    <button type="button" ng-click="vm.dICOM.dicomFile=null;vm.dICOM.dicomFileContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setDicomFile($file, vm.dICOM)">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="dicomFile" id="field_dicomFile"
                    ng-model="vm.dICOM.dicomFile"
                    required/>
            <input type="hidden" class="form-control" name="dicomFileContentType" id="field_dicomFileContentType"
                    ng-model="vm.dICOM.dicomFileContentType" />
            <div ng-show="editForm.dicomFile.$invalid">
                <p class="help-block"
                    ng-show="editForm.dicomFile.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setImage($file, vm.dICOM)" ngf-pattern="'image/*'">
            <label class="control-label" for="field_image">Image</label>
            <div>
                <img data-ng-src="{{'data:' + vm.dICOM.imageContentType + ';base64,' + vm.dICOM.image}}" style="max-height: 100px;" ng-if="vm.dICOM.image" alt="dICOM image"/>
                <div ng-if="vm.dICOM.image" class="help-block clearfix">
                    <span class="pull-left">{{vm.dICOM.imageContentType}}, {{vm.byteSize(vm.dICOM.image)}}</span>
                    <button type="button" ng-click="vm.dICOM.image=null;vm.dICOM.imageContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setImage($file, vm.dICOM)" accept="image/*">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="image" id="field_image"
                    ng-model="vm.dICOM.image"
                    />
            <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                    ng-model="vm.dICOM.imageContentType" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
