/* ==========================================================================
Custom CSS defined outside main.css
========================================================================== */

/* ==========================================================================
progressbar.js
========================================================================== */
.progressbar {
	height: 20px;
}

.progressbar > svg {
	height: 100%;
    display: block;
}