
<!-- <div> -->
<head>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- THIS LINE -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>

<div id="menu">
<div class="panel list-group">
 <a href="#" onclick="return false;" class="list-group-item" data-toggle="collapse" data-target="#patientInfo" data-parent="#menu"><h2>Patient Info</h2> </a>
 <div id="patientInfo" class="sublinks collapse">
 <dl class="dl-vertical">
 <a class="list-group-item small">
    <dt><span data-translate="xpacswebApp.patientInfo.patient_id">Patient Id</span></dt>
            <dd>
                <span>{{vm.patientInfo.patientInfo.patient_id}}</span>
            </dd>
  </a>
  <a class="list-group-item small">
    <dt><span>Cohort</span></dt>
        <dd>
            <span>{{vm.patientInfo.patientInfo.cohort}}</span>
        </dd>
  </a>
  <a class="list-group-item small">
  <dt><span>Ethnicity</span></dt>
        <dd>
            <span>{{vm.patientInfo.patientInfo.ethnicity}}</span>
        </dd>
  </a>
  <a class="list-group-item small">
  <dt><span>Gender</span></dt>
        <dd>
            <!-- <span>{{vm.patientInfo.gender}}</span> -->
            <span>{{vm.patientInfo.patientInfo.gender}}</span>

        </dd>
  </a>
  <a class="list-group-item small">
        <dt><span data-translate="xpacswebApp.patientInfo.primary_diagnosis">Primary Diagnosis</span></dt>
        <dd>
            <span>{{vm.patientInfo.patientInfo.primary_diagnosis}}</span>
        </dd>
  </a>
  </dl>
 </div>
 <a href="#" onclick="return false;" class="list-group-item" data-toggle="collapse" data-target="#clinicalNote" data-parent="#menu"><h2> Clinical Note </h2></a>
 
<div class="table-responsive sublinks collapse" id="clinicalNote">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="xpacswebApp.clinicalNote.assessment_date">Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span>Age</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span>Height</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span>Weight</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span>Diagnosis</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span>Note</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="clinicalNote in vm.patientInfo.clinicalNote track by clinicalNote.id">
                    <td><a ui-sref="clinical-note-detail({id:clinicalNote.id})">{{clinicalNote.assessment_date | date:'mediumDate'}}</a></td>
                    <td>{{clinicalNote.age}}</td>
                    <td>{{clinicalNote.height}}</td>
                    <td>{{clinicalNote.weight}}</td>
                    <td>{{clinicalNote.diagnosis}}</td>
                    <td>{{clinicalNote.note}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="clinical-note-detail({id:clinicalNote.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="clinical-note.edit({id:clinicalNote.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="clinical-note.delete({id:clinicalNote.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

<a href="#" onclick="return false;" class="list-group-item" data-toggle="collapse" data-target="#baselineDiagnosis" data-parent="#menu"><h2> Baseline Diagnosis </h2></a>
 
<div class="table-responsive sublinks collapse" id="baselineDiagnosis">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th><span data-translate="xpacswebApp.baselineDiagnosis.diagnosis_date">Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span>Age</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span>Height</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span>Weight</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span data-translate="xpacswebApp.baselineDiagnosis.heart_rate">Heart Rate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span>DBP</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span>SBP</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span data-translate="xpacswebApp.baselineDiagnosis.history_of_alcohol">History Of Alcohol</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span data-translate="xpacswebApp.baselineDiagnosis.history_of_diabetes">History Of Diabetes</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span data-translate="xpacswebApp.baselineDiagnosis.history_of_hypertension">History Of Hypertension</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span data-translate="xpacswebApp.baselineDiagnosis.history_of_smoking">History Of Smoking</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="baselineDiagnosis in vm.patientInfo.baselineDiagnosis track by baselineDiagnosis.id">
                    
                    <td><a ui-sref="baseline-diagnosis-detail({id:baselineDiagnosis.id})">{{baselineDiagnosis.diagnosis_date | date:'mediumDate'}}</a></td>
                    <td>{{baselineDiagnosis.age}}</td>
                    <td>{{baselineDiagnosis.height}}</td>
                    <td>{{baselineDiagnosis.weight}}</td>
                    <td>{{baselineDiagnosis.heart_rate}}</td>
                    <td>{{baselineDiagnosis.dbp}}</td>
                    <td>{{baselineDiagnosis.sbp}}</td>
                    <td>{{baselineDiagnosis.history_of_alcohol}}</td>
                    <td>{{baselineDiagnosis.history_of_diabetes}}</td>
                    <td>{{baselineDiagnosis.history_of_hypertension}}</td>
                    <td>{{baselineDiagnosis.history_of_smoking}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="baseline-diagnosis-detail({id:baselineDiagnosis.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="baseline-diagnosis.edit({id:baselineDiagnosis.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="baseline-diagnosis.delete({id:baselineDiagnosis.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>






<a href="#" onclick="return false;" class="list-group-item" data-toggle="collapse" data-target="#auxFile" data-parent="#menu"><h2> Aux File </h2></a>

<div class="table-responsive sublinks collapse" id="auxFile">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <!-- <th jh-sort-by="patientInfoFK.patient_id"><span>Patient Id</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                    <th>Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span>Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span>File</span> <span class="glyphicon glyphicon-sort"></span></th>
                    
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="auxFile in vm.patientInfo.auxFile track by auxFile.id">
                    
                    <td><a ui-sref="aux-file-detail({id:auxFile.id})">{{auxFile.creation_date | date:'mediumDate'}}</a></td>
                    <td>{{auxFile.description}}</td>
                    <td>
                        <a ng-if="auxFile.file" ng-click="vm.openFile(auxFile.fileContentType, vm.auxFile.file)">open</a>
                        <span ng-if="auxFile.file">{{auxFile.fileContentType}}, {{vm.byteSize(auxFile.file)}}</span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="aux-file-detail({id:auxFile.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="aux-file.edit({id:auxFile.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="aux-file.delete({id:auxFile.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table> 
    </div>
    

<a href="#" onclick="return false;" class="list-group-item" data-toggle="collapse" data-target="#capModel" data-parent="#menu"><h2> CAP Model </h2></a>  
<div class="table-responsive sublinks collapse" id="capModel">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    
                    <th><span data-translate="xpacswebApp.capModel.creation_date">Creation Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span>Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span>Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span>Comment</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span data-translate="xpacswebApp.capModel.model_file">Model File</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span data-translate="xpacswebApp.capModel.xml_file">XML File</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="capModel in vm.patientInfo.capModel track by capModel.id">
                    
                    <td><a ui-sref="cap-model-detail({id:capModel.id})">{{capModel.creation_date | date:'mediumDate'}}</a></td>
                    <td>{{capModel.name}}</td>
                    <td>{{capModel.type}}</td>
                    <td>{{capModel.comment}}</td>
                    <td>
                        <a ng-if="capModel.model_file" ng-click="vm.openFile(capModel.model_fileContentType, capModel.model_file)">open</a>
                        <span ng-if="capModel.model_file">{{capModel.model_fileContentType}}, {{vm.byteSize(capModel.model_file)}}</span>
                    </td>
                    <td>
                        <a ng-if="capModel.xml_file" ng-click="vm.openFile(capModel.xml_fileContentType, capModel.xml_file)">open</a>
                        <span ng-if="capModel.xml_file">{{capModel.xml_fileContentType}}, {{vm.byteSize(capModel.xml_file)}}</span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="cap-model-detail({id:capModel.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="cap-model.edit({id:capModel.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="cap-model.delete({id:capModel.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>




</div>
    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="patient-info-consolidated.edit({id:vm.patientInfo.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
