<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<title>XPACS:Home</title>
</head>
<body>
	<div id="navbar" class="navbar-collapse collapse" layout:fragment="navbar">
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#">Login</a></li>
		</ul>
	</div>
	<h1 layout:fragment="header">Welcome</h1>
	<div layout:fragment="content" class="container">
		<div>
			<p>This is the main homepage</p>
		</div>
	</div>
</body>
</html>
