<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/simple_content}">
<head>
<title>XPACS:USER table</title>
</head>
<body>	
	<h1 layout:fragment="title">USER</h1>
	
	<div layout:fragment="text" class="container">
	
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<td>username</td>
					<td>password</td>
					<td>role</td>
					<td>enabled</td>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${users.empty}">
					<td colspan="4"><i>Empty</i></td>
				</tr>
				
				<tr th:each="user : ${users}">
					<td th:text=${user.username}>someone</td>
					<td th:text=${user.password}>!!!!</td>
					<td th:text=${user.role}>NOROLE</td>
					<td th:text=${user.enabled}>ENABLED</td>
				</tr>
			</tbody>
		</table>
	
	</div>
</body>
</html>